.formOuterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.formContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10vh;
}

.form {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.fieldSet {
    padding: 20px;
    border: 1px solid var(--light-gray);
    max-width: 300px;
    height: 340px;
    margin: 0 auto;
    margin-top: 20px;
}

.fieldSet > legend{
    box-sizing: border-box;
    float: right;
    margin-right: 78px;
    padding: 15px 0 15px;
}

.orLine {
    color: var(--textOr);
    margin-right: 20px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: bold;

}

.line {
    display: flex;
    margin-top: 15px;
}

.facebookIcon {
    display: flex;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    margin-right: 8px;
}

.loginFacebook {
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-size: medium;
    margin-top: 25px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: small;
    color: var(--facebook);
}

.forgotPassword {
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top: 20px;
    color: var(--facebook);
}

.signUpBox { 
    display: flex;
    padding: 20px;
    border: 1px solid var(--light-gray);
    max-width: 300px;
    width: 300px;
    height: 20px;
    margin: auto;
    margin-top: 10px;
}

.account {
    margin: auto;
    font-family: sans-serif;
    font-size: 15px;
}

.signUp {
    margin: auto;
    color: var(--signUpBlue);
    font-weight: bold;
    font-family: sans-serif;
    font-size: 15px;
}

.getApp { 
    margin: auto;
    margin-top: 20px;
    font-family: sans-serif;
    font-size: 15px;
}

.appLogo {
    margin: auto;
    margin-top: 15px;
    width: 300px;
}

/* iPhone XR */

@media (max-width: 414px) and (max-height: 896px) {
    .fieldSet {
        padding: 30px;
        border: none;
        max-width: 300px;
        height: 350px;
        margin: 0 auto;
        margin-top: 10px;
    }

    .signUpBox {
        display: flex;
        border: none;  
        padding: 20px;
        max-width: 300px;
        width: 300px;
        height: 20px;
        margin: auto;
        margin-top: 10px;
    }
}



