.footerComponents {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px
}

.footerList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    margin: auto;
    font-size: 12px;
    font-family: sans-serif;
    color: var(--footerColor);
}

.footerPartTwo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 12px;
    margin: auto;
    font-size: 12px;
    font-family: sans-serif;
    color: var(--footerColor);
    
}

/* iPhone */

@media (max-width: 820px) and (max-height: 1180px) { 
    .footerComponents {
        display: flex;
        align-items: center;
    }

    .footerList {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 350px;
        line-height: 2px;
    }
}

/* iPad Air */ 

@media (max-width: 820px) and (max-height: 1180px) {
    .footerComponents {
        display: flex;
        align-items: center;
    }

    .footerList {
        display: flex;
        text-align: center;
        justify-content: center;
        justify-content: wrap;
        align-items: center;
        width: 650px;
        gap: 12px;
        margin: auto;
        line-height: 1px;
    }
} 